body {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    font-family: Arial, sans-serif;
}

.section-form {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

.image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-color: #000000;
}
h1 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.button-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-submit:hover {
    background-color: #45a049;
}

.button-back {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-back:hover {
    background-color: #d32f2f;
}

